@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <!-- Column -->
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"> Ventilation Monitor</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div id="dvValitilationCapacity" class="glossary-cat-list">
                        <div class="table-responsive marginB15 border overflow-visible">
                            <table id="tblVentilation"
                                   class="table table-bordered  toggle-arrow mb-0 toggle-arrow-tiny"
                                   data-filtering="true" data-paging="true" data-sorting="true">
                                <thead>
                                    <tr data-bind="foreach: departments">
                                        <!-- ko {if: $index() === 0} -->
                                        <th>Unit</th>
                                        <!-- /ko -->
                                        <!-- ko {if: $index() >= 0} -->
                                        <th data-bind="text: name"></th>
                                        <!-- /ko -->
                                        <!-- ko {if: $root.departments().length === $index() + 1} -->
                                        <td>
                                        </td>
                                        <!-- /ko -->
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: ventilationCapacity">
                                    <tr data-bind="foreach: $data.departmentCapacity">
                                        <!-- ko {if: $index() === 0} -->
                                        <td>
                                            <input class="form-control" id="unit" data-val="true" placeholder="Unit" data-val-length-max="100" maxlength="100" type="text" value="">
                                        </td>
                                        <!-- /ko -->
                                        <!-- ko {if: $index() >= 0} -->
                                        <td>
                                            <input class="form-control" data-bind="textInput: capacity" type="number" step="1" min="1" value="1" data-val="true" data-val-length-max="100" maxlength="100">
                                        </td>
                                        <!-- /ko -->
                                        <!-- ko {if: $parent.departmentCapacity().length === $index() + 1} -->
                                        <td>
                                            <button id="removeRow" class="btn btn-warning text-uppercase waves-effect waves-light" data-bind="click:$root.removeRow.bind($root, $parent)" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </td>
                                        <!-- /ko -->
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr data-bind="foreach: columnsTotal">
                                        <!-- ko {if: $index() === 0} -->
                                        <td></td>
                                        <!-- /ko -->
                                        <!-- ko {if: $index() >= 0} -->
                                        <td>
                                            <span data-bind="text: totalExpr, css: hasExceedLimit"></span>
                                        </td>
                                        <!-- /ko -->
                                        <!-- ko {if: $parent.columnsTotal().length === $index() + 1} -->
                                        <td>
                                        </td>
                                        <!-- /ko -->
                                    </tr>
                                </tfoot>
                            </table>
                            <button id="addRow" class="btn btn-success text-uppercase waves-effect waves-light" data-bind="click:AddRow" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
@section Scripts
{
    <script src="~/lib/knockout/knockout-min.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.min.js"></script>
    <script src="~/js/http/HttpFetchService.js"></script>
    <script src="~/js/http/HomePageService.js"></script>
    <script src="~/js/Index.js"></script>
}